.Auth {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	flex-grow: 1;
	width: 100%;
}

.Auth > div {
	width: 100%;
	max-width: 600px;
	padding: 20px;
}

.Auth h1 {
	color: rgb(0, 0, 0);
	text-align: center;
}

.AuthForm {
	background: #eee;
	box-shadow: 9px 14px 6px 0px rgba(0, 0, 0, 0.1);
	padding: 15px;
	border-radius: 5px;
}
