.item {
  max-width: 440px;
  margin: 0 auto;
  
}

.item :hover {
  cursor: pointer;
  background-color: #bababa;
  border-radius: 4px;
  transition: 1s;
}

.card {
  display: flex;
  justify-content: space-between;
  padding:  8px 0 10px;
  font-size: 14px;
  border-bottom: 1px solid #dadada;
}

.favorite {
  border-bottom: 4px solid orange;
}

.card :hover {
  background: none;
}


.Modal {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 10px;
  min-height: 400px;
  background-color: #f8f8f8ed;
  border-radius: 2px;
}


.Modal-header {
  display: flex;
  justify-content: space-between;
}
.Modal-content {
  padding: 50px;
  text-align: left;
}
.Modal-text {
  padding: 8px 20px 10px;
}

.Modal-input {
  display: block;
  padding: 14px 22px 12px 8px;
  border: none;
  border-bottom: 1px solid #bababa;
  margin-bottom: 4px;
  border-radius: 4px;
}

.Modal-footer, 
.Modal-content, 
.Modal-header {
  padding: 4px;
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8383835c;
}

.close {
  border: none;
  display: block;
  background: none;
  color: #bababa;
  font-size: 18px;
  margin: 10px;
}

.close :hover {
  cursor: pointer;
  color: black;
  transition: 0.5s;
}


.edited-message {
  padding: 16px;
  color: rgb(94, 160, 94);
}

.edit,
.save {
  background: none;
  border: none;
  border-bottom: 1px solid #bababa;
  border-radius: 4px;
  padding: 16px 22px 12px 8px;
}

.edit,
.save :focus, :focus-visible {
  outline: none;
}

img {
  border-radius: 50%;
  margin: 10px;
}

@media only screen and (min-width: 400px) {

}

@media only screen and (min-width: 700px) {
  .Modal {
    max-width: 500px;
    border-radius: 8px;
    margin-top: 120px;
  }
  .Modal-footer, 
  .Modal-content, 
  .Modal-header {
    padding: 16px;
  }
  .close {
    font-size: 16px;
  }
  .card {
    padding: 10px 8px 4px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .list {
    max-width: 600px;
  }

  .Modal {
    max-width: 840px;
  }

  .Modal-footer, 
  .Modal-content, 
  .Modal-header {
    padding: 24px;
  }

  .close {
    font-size: 24px;
  }
}