.contact {
  max-width: 320px;
  margin: 0 auto;
}

.contact :hover {
  cursor: pointer;
  background-color: #bababa;
  border-radius: 4px;
  transition: 1s;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  padding: 8px 16px 10px;
  font-size: 14px;
  border-radius: 4px;
  border-bottom: 1px solid #dadada;  
  background: rgb(255, 255, 255);
}

/* apply favorite style to card only */
.card.favorite {
  background-color: rgb(253, 249, 231);
  border-bottom: 4px solid orange;

}

.card :hover {
  background: none;
}


.modal {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f8f8f8ed;
  border-radius: 2px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-content {
  padding: 50px;
  text-align: left;
}

.modal-text {
  padding: 8px 20px 10px;
}

.input {
  display: block;
  padding: 8px 11px 6px 4px;
  border: none;
  border-bottom: 1px solid #bababa;
  margin-bottom: 4px;
  border-radius: 4px;
}

.modal-footer,
.modal-content,
.modal-header {
  padding: 4px;
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8383835c;
}



.close {
  border: none;
  display: block;
  background: none;
  color: #bababa;
  font-size: 18px;
  margin: 10px;
}

.close :hover {
  cursor: pointer;
  color: black;
  transition: 0.5s;
}


.edited-message {
  padding: 16px;
  color: rgb(94, 160, 94);
}

.button {
  background: none;
  border: none;
  border-bottom: 1px solid #bababa;
  border-radius: 4px;
  padding: 16px 22px 12px 8px;
  margin: 10px;
}


.button:hover {
  cursor: pointer;
}

button:focus-visible {
  outline: none;
}

.favor {
  color: green;
}

.changed {
  border-bottom: 1px solid rgb(90, 211, 255)
}

img {
  border-radius: 50%;
  margin: 10px;
}


@media only screen and (min-width: 700px) {
  .modal {
    max-width: 500px;
    border-radius: 8px;
    margin-top: 50px;
    min-height: 400px;
  }

  .modal-footer,
  .modal-content,
  .modal-header {
    padding: 16px;
  }
  .input {
    padding: 14px 22px 12px 8px;
  }

  .close {
    font-size: 16px;
  }

  .contact {
    max-width: 400px;
  }

  .card {
    padding: 10px 8px 4px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .list {
    max-width: 600px;
  }

  .modal {
    max-width: 840px;
  }

  .modal-footer,
  .modal-content,
  .modal-header {
    padding: 24px;
  }

  .close {
    font-size: 24px;
  }
}