

.App {
  text-align: center;
  min-width: 320px;
  margin: 0 auto
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
  .App {
  text-align: center;
  min-width: 390px;
  margin: 0 auto
}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
  text-align: center;
  min-width: 900px;
  margin: 0 auto
}
}
