.App {
  text-align: center;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) {
  .App {
    text-align: center;
    min-width: 390px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    text-align: center;
    min-width: 900px;
  }
}