.group {
  padding: 16px 0;
}

.list-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 300px;
}

.favorite-button {
  font-size: 14px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 260px;
}

input,
.favorite-button,
.clear  {
  padding: 16px 22px 12px 8px;
  border: none;
  border-bottom: 1px solid #bababa;
  margin-bottom: 4px;
  border-radius: 4px;
  background: none;
}

.favorite-button:hover {
  background: orange;
  transition: 0.4s;
}

.clear:hover {
  background: #bababa;
  transition: 0.3s;
}

@media only screen and (min-width: 400px) {
  .list-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 390px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .list-header {
    max-width: 460px;
  }
}