.group {
  padding: 16px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 260px;
}

input {
  padding: 16px 22px 12px 8px;
  border: none;
  border-bottom: 1px solid #bababa;
  margin-bottom: 4px;
  border-radius: 4px;
}

.clear {
  background: none;
  border: none;
  border-bottom: 1px solid #bababa;
  border-radius: 4px;
  padding: 16px 22px 12px 8px;
}

.clear:hover {
  background: #bababa;
  transition: 1s;
}